# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/.pnp
.pnp.js

# testing
/coverage
/api/src/data/*.js

# production
/api/build
/api/src/auradb/Neo4j-*-*.txt
/api/.env
/app/build
/app/package-lock.json
/api/src/auradb/users.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
