.container {
  background-color: #f0eff2;
  display: grid;
  grid-template-columns: 5vw 95vw;
  height: 100vh;
  padding: 0px;
  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .tabContent {
      background-color: #ffffff;
      border: 2px solid #e6e4e8;
      border-radius: 10px;
      height: 100%;
      margin: 10px;
    }
  }
}