.container {
  background-color: #f0eff2;;
  display: grid;
  grid-template-columns: 10% auto;
  padding: 0px;

  .tabContent {
    background-color: #ffffff;
    border: 2px solid #e6e4e8;
    border-radius: 10px;
    height: 100%;
    margin: 10px;
  }
}