.container {
  align-items: center;
  background-color: #e0e0e0;
  border: 2px solid #eeeaf0;
  border-radius: 0px;
  padding: 20px;
  height: 100%;

  .navigation {
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #e6e4e8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin-left: -8px;
    margin-top: -8px;
    max-width: 75px;

    .logo-container {
      display: block;
      font-size: calc(14px + 1vmin);
      justify-self: center;
      padding: 10px;

      &:hover {
        width: auto;
        transform: scale(1.4159);
        transition: transform 0.314159s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        .logo { cursor: pointer; }
      }
    }

    .nav-links-container {
      display: block;
      font-size: calc(14px + 1vmin);
      height: 100%;
      justify-content: flex-end;
      padding: 10px 15px;
      width: auto;

      .nav-link {
        cursor: pointer;
        background-color: #fbfbfb;
        border: 2px solid #dbdbdb00;
        border-radius: 10px;
        padding: 10px 15px;

        &:hover {
          cursor: pointer;
          background-color: #efefef6f;
          border: 2px solid #efefefaf;
          transform: scale(1.1);
          transition: transform 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
      }
    }
  }
}
