.home-container {
  align-items: center;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  height: 100%;
  margin: 1px;
  padding: 1px;
  // Child of --> List container
  .categories-title-container {
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    // Child of --> Title Container
    .categories-title {
      font-variant: small-caps;
    }
  }
}
